/* client/src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: rgb(136, 15, 206);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

/* Custom bookshelf styles */
.header {
  margin-bottom: 20px;
}

.nav {
  display: flex;
  gap: 10px;
}

.scene {
  display: grid;
  gap: 20px;
}

.shelf {
  border: 1px solid #ccc;
  padding: 10px;
}

.photocard img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
